/*
 * Obishortcodes Plugin
 * Version: 1.0.0
 */
/* ---------- Columns ---------- */
/* ----- General CSS ----- */
.full_width,
.one_half,
.one_third, .two_third,
.one_fourth, .three_fourth,
.one_fith, .two_fith, .three_fith,
.one_sixth, .five_sixth,
.full_width_margin,
.one_half_margin,
.one_third_margin, .two_third_margin,
.one_fourth_margin, .three_fourth_margin,
.one_fith_margin, .two_fith_margin, .three_fith_margin,
.one_sixth_margin, .five_sixth_margin {
  float: left;
  padding: 10px; }

.clear_column {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
  overflow: hidden; }

.last_column {
  float: right !important; }

/* ----- Specific CSS ----- */
.full_width {
  width: 100%; }

.one_half {
  width: 50%; }

.one_third {
  width: 33.3%; }

.two_third {
  width: 66.6%; }

.one_fourth {
  width: 25%; }

.three_fourth {
  width: 75%; }

.one_fith {
  width: 20%; }

.two_fith {
  width: 40%; }

.three_fith {
  width: 60%; }

.one_sixth {
  width: 16.6%; }

.five_sixth {
  width: 83.3%; }

/* ----- With Margins Variation ----- */
.full_width_margin {
  width: 98% !important;
  margin: 1% !important; }

.one_half_margin {
  width: 48% !important;
  margin: 1% !important; }

.one_third_margin {
  width: 31.3% !important;
  margin: 1% !important; }

.two_third_margin {
  width: 64.6% !important;
  margin: 1% !important; }

.one_fourth_margin {
  width: 23% !important;
  margin: 1% !important; }

.three_fourth_margin {
  width: 73% !important;
  margin: 1% !important; }

.one_fith_margin {
  width: 18% !important;
  margin: 1% !important; }

.two_fith_margin {
  width: 38% !important;
  margin: 1% !important; }

.three_fith_margin {
  width: 58% !important;
  margin: 1% !important; }

.one_sixth_margin {
  width: 14.6% !important;
  margin: 1% !important; }

.five_sixth_margin {
  width: 81.3% !important;
  margin: 1% !important; }
